/* App styles */

.top-reporters {
    padding: 3em 2em 0;
}

.error {
    border:           solid 1px red;
    border-radius:    .375em;
    background-color: #fee;
    padding:          .75em;
}

.error__title {
    margin-top: 0;
}

.error__icon {
    background:    red;
    border-radius: 32px;
    color:         #fff;
    font-size:     1.5em;
    float:         left;
    line-height:   28px;
    margin-right:  32px;
    text-align:    center;
}

.error__details {
    margin-left: 64px;
}
